@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0.4em 1em;
    padding: 1em 0 0 0;
}

div {
    padding: 0 auto;
    border: 2px solid rgb(63, 82, 48);
    border-radius: 15px;
    margin: 2em;
    width: 50em;
    height: 100%;
    display: grid;
}

div p {
    margin: 0.3em
}

.itemName,
.notAvailableItems {
    font-weight: bold;
}

.notAvailableItems:hover {
    font-size: large;
}